<div class="row">
    <div class="col-md-6 col-xs-12 form-group">
        <div class="col-md-8">
            <input ng-model="movie1" class="form-control"></input>
        </div>
        <div class="col-md-4">
            <button ng-click="getMovie(movie1,0)" class="btn btn-default">Find movie!</button>
        </div>
    </div>
    <div class="col-md-6 col-xs-12 form-group">
        <div class="col-md-8">
            <input ng-model="movie2" class="form-control"></input>
        </div>
        <div class="col-md-4">
            <button ng-click="getMovie(movie2,1)" class="btn btn-default">Find movie!</button>
        </div>
    </div>
</div>